{{ define "main" }}

<h1>About</h1>

<p>
🧡 all y'all
<ul> 
	<li><a href="http://www.slackware.com/~vbatts/">slackware.com/~vbatts</a></li>
	<li><a href="https://github.com/vbatts/me">github.com/vbatts/me</a></li>
	<li><a href="https://fosstodon.org/@vbatts">@vbatts@fosstodon.org</a></li>
</ul>
</p>
<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/post" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}
